@import '../../../app/styles/variables/mixins.scss';

.button {
    background-color: #00A1E7;
    padding: 12px 16px;
    border-radius: 22px;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: filter 0.1s linear;
    width: 222px;

    &:hover {
        filter: brightness(1.1);
    }

    &:active {
        filter: brightness(0.8);
    }

    &.stretching {
        @include mobile {
            width: 100%;
        }
    }

    &:disabled {
        filter: brightness(0.7);
        cursor: not-allowed;
    }
}

