.rating {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    font-weight: 400;
    line-height: 20px;

    .buttons {
        width: 100%;
        gap: 8px;
        display: flex;
        flex-wrap: wrap;
    }

    &.grid {
        .buttons {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            justify-items: center;
            gap: 8px 0;
            
            @media (max-width: 600px) {
                padding: 0 60px;
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }

    &.row {
        .buttons {
            flex-direction: row; 
        }  
    }

    &.column {
        .buttons {
            flex-direction: column;
        }
    }

    .label {
        font-size: 12px;
    }

    .boundscaption {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
            font-size: 14px;
        }

        @media (max-width: 600px) {
            padding: 0 32px;
            grid-template-columns: repeat(5, 1fr);
        }
    }
}