.divider {
    width: 100%;
    margin: 9px 0;
    height: 2px;
    background: linear-gradient(to right, 
        #0699DB, 
        #2D5E87, 
        #2E2A3F, 
        #341926, 
        #150C15
    );
}